#bg {
    background-color:rgb(238, 229, 229);
  
    padding: 40px;
    position: absolute;
    margin-left: 340px;
    margin-top: 10px;
    height: 1100px;
    width: 780px;
    line-height:0px;
  }
  
  h1 {
    color: #000;
    text-align: center;
    padding: 0px;
    font-size: 30px;
  }
  #form {
    background-color: white;
    padding: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 950px;
    width: 700px;
    line-height:0px;
  }
  #table{
      height: 950px;
      width: 700px;
      text-align: justify;
      color: black;
      font-weight: bold;
      font-style: normal;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  input,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    input:focus {
    background-color: #ffffff;
    border: 1px solid #b1e1e4;
    border-spacing: 2px 2px 2px 2px;
    
  }
  .submitButton{
  background-color: #4CAF50;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  .resetButton{
    background-color: #b5c2b5;
    color: white;
    padding: 14px 24px;
    margin: 0 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }